In [4]:
import numpy as np
import statistics
import math
from scipy import stats

In [53]:
dados = np.array([
    160,165,167,164,160,166,160,161,150,152,173,160,155,
    164,168,162,161,168,163,156,155,169,151,170,164,
    155,152,163,160,155,157,156,158,158,161,154,161,156,172,153
])

# Medidas posição

## Média aritmética simples

In [6]:
media_aritmetica = dados.sum() / len(dados)
dados.sum(), len(dados), media_aritmetica

(6415, 40, 160.375)

In [7]:
dados.mean()

160.375

In [9]:
statistics.mean(dados)

160

## Moda

In [10]:
statistics.mode(dados)

160

In [11]:
stats.mode(dados)

ModeResult(mode=array([160]), count=array([5]))

## Mediana

In [18]:
dados_impar = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155])

#### Impar

In [21]:
posicao = len(dados_impar) / 2
posicao = math.ceil(posicao)
posicao

5

In [29]:
dados_impar[posicao-1]

153

In [37]:
np.median(dados_impar)

153.0

In [38]:
statistics.median(dados_impar)

153

#### Par

In [44]:
posicao1 = len(dados) / 2
posicao1 = math.ceil(posicao1)
posicao2 = posicao1 + 1
posicao1, posicao2

(20, 21)

In [45]:
dados[posicao1], dados[posicao2]

(160, 161)

In [46]:
mediana = (dados[posicao1] + dados[posicao2])/2
mediana

160.5

In [36]:
np.median(dados)

160.0

In [40]:
np.median(dados)

160.0

In [41]:
statistics.median(dados)

160.0

## Média ponderada

In [47]:
notas = np.array([9,8,7,3])
pesos = np.array([1,2,3,4])
notas, pesos

(array([9, 8, 7, 3]), array([1, 2, 3, 4]))

In [48]:
# Manual
(9*1 + 8*2 + 7*3 + 3*4) / (1+2+3+4)

5.8

In [49]:
media_ponderada = (notas * pesos).sum() / pesos.sum()
media_ponderada

5.8

In [50]:
np.average(notas, weights=pesos)

5.8

# Medida de posição (dados agrupados)

In [55]:
import pandas as pd

In [56]:
dados = {
    'inferior': [150,154,158,162,166,170],
    'superior': [154,158,162,165,170,174],
    'fi': [5,9,11,7,5,3]
}

In [96]:
dataset = pd.DataFrame(dados)
dataset

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       165   7
4       166       170   5
5       170       174   3

In [97]:
dataset['xi'] = (dataset['superior'] + dataset['inferior']) / 2
dataset

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       165   7  163.5
4       166       170   5  168.0
5       170       174   3  172.0

In [98]:
dataset['fi_xi'] = dataset['fi'] * dataset['xi']
dataset

   inferior  superior  fi     xi   fi_xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       165   7  163.5  1144.5
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [106]:
dataset['Fi'] = 0
dataset

   inferior  superior  fi     xi   fi_xi  Fi
0       150       154   5  152.0   760.0   0
1       154       158   9  156.0  1404.0   0
2       158       162  11  160.0  1760.0   0
3       162       165   7  163.5  1144.5   0
4       166       170   5  168.0   840.0   0
5       170       174   3  172.0   516.0   0

In [107]:
frequencia_acumulada = []
acumulado = 0
for i in range(len(dataset)):
    acumulado += dataset.values[i, 2]
    frequencia_acumulada.append(acumulado)
    
frequencia_acumulada

[5.0, 14.0, 25.0, 32.0, 37.0, 40.0]

In [108]:
dataset['Fi'] = frequencia_acumulada
dataset

   inferior  superior  fi     xi   fi_xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       165   7  163.5  1144.5  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

## Média aritmética simples

In [109]:
dataset['fi'].sum(), dataset['fi_xi'].sum()

(40, 6424.5)

In [112]:
media_agrupados = dataset['fi_xi'].sum() / dataset['fi'].sum()
media_agrupados

160.6125

## Moda

In [114]:
dataset['fi'].max()

11

In [115]:
dataset[dataset['fi'] == dataset['fi'].max()]

   inferior  superior  fi     xi   fi_xi    Fi
2       158       162  11  160.0  1760.0  25.0

In [121]:
dataset[dataset['fi'] == dataset['fi'].max()]['xi'].values[0]

160.0

## Mediana

In [128]:
fi_2 = dataset['fi'].sum() / 2
fi_2

20.0

In [130]:
limite_inferior, frequencia_classe, id_freq_anterior = 0, 0, 0
for linha in dataset.iterrows():
    limite_inferior = linha[1][0]
    frequencia_classe = linha[1][2]
    id_freq_anterior = linha[0]
    
    if linha[1][5] >= fi_2:
        id_freq_anterior -= 1
        break

In [131]:
limite_inferior, frequencia_classe, id_freq_anterior

(158.0, 11.0, 1)

In [134]:
Fi_anterior = dataset.iloc[[id_freq_anterior]]['Fi'].values[0]
Fi_anterior

14.0

In [136]:
mediana = limite_inferior + ((fi_2 - Fi_anterior) * 4) / frequencia_classe
mediana

160.1818181818182