In [8]:
import numpy as np
import math

In [4]:
dados_impar = [150,151,152,152,153,154,155,155,155]

## Quartis

In [5]:
np.median(dados_impar)

153.0

In [9]:
posicao_mediana = math.floor(len(dados_impar) / 2)
posicao_mediana

4

In [10]:
esquerda = dados_impar[0:posicao_mediana]
esquerda

[150, 151, 152, 152]

In [11]:
np.median(esquerda)

151.5

In [13]:
direita = dados_impar[posicao_mediana:]
direita

[153, 154, 155, 155, 155]

In [14]:
np.median(direita)

155.0

#### Numpy, Scipy, Pandas

In [20]:
import pandas as pd
from scipy import stats

In [16]:
np.quantile(dados_impar, 0.5)

153.0

In [17]:
np.quantile(dados_impar, 0.25), np.quantile(dados_impar, 0.75)

(152.0, 155.0)

In [27]:
stats.scoreatpercentile(dados_impar, 50)

153.0

In [28]:
stats.scoreatpercentile(dados_impar, 25), stats.scoreatpercentile(dados_impar, 75)

(152.0, 155.0)

In [29]:
dataset = pd.DataFrame(dados_impar)
dataset

     0
0  150
1  151
2  152
3  152
4  153
5  154
6  155
7  155
8  155

In [30]:
dataset.quantile([0.25,0.5,0.75])

          0
0.25  152.0
0.50  153.0
0.75  155.0

In [31]:
dataset.describe()

                0
count    9.000000
mean   153.000000
std      1.870829
min    150.000000
25%    152.000000
50%    153.000000
75%    155.000000
max    155.000000