In [1]:
import numpy as np
import math

In [4]:
dados_impar = [150,151,152,152,153,154,155,155,155]

## Quartis

In [5]:
np.median(dados_impar)

153.0

In [9]:
posicao_mediana = math.floor(len(dados_impar) / 2)
posicao_mediana

4

In [10]:
esquerda = dados_impar[0:posicao_mediana]
esquerda

[150, 151, 152, 152]

In [11]:
np.median(esquerda)

151.5

In [13]:
direita = dados_impar[posicao_mediana:]
direita

[153, 154, 155, 155, 155]

In [14]:
np.median(direita)

155.0

#### Numpy, Scipy, Pandas

In [3]:
import pandas as pd
from scipy import stats

In [16]:
np.quantile(dados_impar, 0.5)

153.0

In [17]:
np.quantile(dados_impar, 0.25), np.quantile(dados_impar, 0.75)

(152.0, 155.0)

In [27]:
stats.scoreatpercentile(dados_impar, 50)

153.0

In [28]:
stats.scoreatpercentile(dados_impar, 25), stats.scoreatpercentile(dados_impar, 75)

(152.0, 155.0)

In [29]:
dataset = pd.DataFrame(dados_impar)
dataset

     0
0  150
1  151
2  152
3  152
4  153
5  154
6  155
7  155
8  155

In [30]:
dataset.quantile([0.25,0.5,0.75])

          0
0.25  152.0
0.50  153.0
0.75  155.0

In [31]:
dataset.describe()

                0
count    9.000000
mean   153.000000
std      1.870829
min    150.000000
25%    152.000000
50%    153.000000
75%    155.000000
max    155.000000

## Quartir (dados agrupados)

In [2]:
dados = {
    'inferior': [150,154,158,162,166,170],
    'superior': [154,158,162,165,170,174],
    'fi': [5,9,11,7,5,3]
}

In [4]:
dataset = pd.DataFrame(dados)
dataset

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       165   7
4       166       170   5
5       170       174   3

In [5]:
dataset['xi'] = (dataset['superior'] + dataset['inferior']) / 2

dataset['fi_xi'] = dataset['fi'] * dataset['xi']

dataset['Fi'] = 0

frequencia_acumulada = []
acumulado = 0
for i in range(len(dataset)):
    acumulado += dataset.values[i, 2]
    frequencia_acumulada.append(acumulado)

dataset['Fi'] = frequencia_acumulada
dataset

   inferior  superior  fi     xi   fi_xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       165   7  163.5  1144.5  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

In [25]:
def get_quartil(dataframe, quartil=50):
    if quartil == 25:
        fi_4 = dataset['fi'].sum() / 4
    elif quartil == 50:
        fi_4 = dataset['fi'].sum() / 2
    elif quartil == 75:
        fi_4 = (3 * dataset['fi'].sum()) / 4
    else:
        raise Exception('Quartil inválido.')

    limite_inferior, frequencia_classe, id_freq_anterior = 0, 0, 0
    for linha in dataset.iterrows():
        limite_inferior = linha[1][0]
        frequencia_classe = linha[1][2]
        id_freq_anterior = linha[0]

        if linha[1][5] >= fi_4:
            id_freq_anterior -= 1
            break
    
    Fi_anterior = dataset.iloc[[id_freq_anterior]]['Fi'].values[0]
    q = limite_inferior + ((fi_4 - Fi_anterior) * 4) / frequencia_classe

    return q

In [19]:
quartil1 = get_quartil(dataset, 25)
quartil1

156.22222222222223

In [20]:
quartil2 = get_quartil(dataset, 50)
quartil2

160.1818181818182

In [21]:
quartil3 = get_quartil(dataset, 75)
quartil3

164.85714285714286

In [24]:
quartil4 = get_quartil(dataset, 9584)
quartil4

NameError: name 'Quartil' is not defined