In [1]:
import pandas as pd

In [5]:
dataset = pd.read_csv('../0_datasets/census.csv')
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
dataset['age_faixa'] = pd.cut(
    dataset['age'],
    bins=[0,17,25,40,60,90],
    labels=['Faixa1', 'Faixa2', 'Faixa3', 'Faixa4', 'Faixa5']
)

In [39]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,age_faixa
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Faixa3
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Faixa4
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Faixa3
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Faixa4
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Faixa3

In [40]:
dataset_apriori = dataset[['age_faixa','workclass','education','marital-status','relationship','occupation','sex','native-country','income']]

In [41]:
dataset_apriori.head()

,age_faixa,workclass,education,marital-status,relationship,occupation,sex,native-country,income
0,Faixa3,State-gov,Bachelors,Never-married,Not-in-family,Adm-clerical,Male,United-States,<=50K
1,Faixa4,Self-emp-not-inc,Bachelors,Married-civ-spouse,Husband,Exec-managerial,Male,United-States,<=50K
2,Faixa3,Private,HS-grad,Divorced,Not-in-family,Handlers-cleaners,Male,United-States,<=50K
3,Faixa4,Private,11th,Married-civ-spouse,Husband,Handlers-cleaners,Male,United-States,<=50K
4,Faixa3,Private,Bachelors,Married-civ-spouse,Wife,Prof-specialty,Female,Cuba,<=50K

In [42]:
dataset_apriori.shape

(32561, 9)

In [43]:
dataset_apriori = dataset_apriori.sample(n=1000, random_state=1)
dataset_apriori.shape

(1000, 9)

In [44]:
dataset_apriori.head()

,age_faixa,workclass,education,marital-status,relationship,occupation,sex,native-country,income
9646,Faixa5,Self-emp-not-inc,7th-8th,Widowed,Not-in-family,Other-service,Female,United-States,<=50K
709,Faixa2,Private,11th,Never-married,Other-relative,Other-service,Male,United-States,<=50K
7385,Faixa2,Private,Bachelors,Never-married,Own-child,Farming-fishing,Male,United-States,>50K
16671,Faixa3,Private,HS-grad,Married-civ-spouse,Husband,Prof-specialty,Male,United-States,<=50K
21932,Faixa3,Private,11th,Never-married,Unmarried,Machine-op-inspct,Female,United-States,<=50K

In [45]:
dataset_apriori.values[0,1]

' Self-emp-not-inc'

In [54]:
transacoes = []
for i in range(dataset_apriori.shape[0]):
    linha = []
    for j in range(dataset_apriori.shape[1]):
        linha.append(str(dataset_apriori.values[i,j]))
    
    transacoes.append(linha)

In [57]:
len(transacoes), transacoes[0]

(1000,
 ['Faixa5',
  ' Self-emp-not-inc',
  ' 7th-8th',
  ' Widowed',
  ' Not-in-family',
  ' Other-service',
  ' Female',
  ' United-States',
  ' <=50K'])

## Regra de associação

In [58]:
from apyori import apriori

In [59]:
regras = apriori(transacoes, min_support=0.3, min_confidence=0.2)
resultados = list(regras)

In [60]:
len(resultados)

38

In [63]:
resultados[12]

RelationRecord(items=frozenset({' Male', ' <=50K'}), support=0.472, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' Male', ' <=50K'}), confidence=0.472, lift=1.0), OrderedStatistic(items_base=frozenset({' <=50K'}), items_add=frozenset({' Male'}), confidence=0.6153846153846153, lift=0.9240009240009238), OrderedStatistic(items_base=frozenset({' Male'}), items_add=frozenset({' <=50K'}), confidence=0.7087087087087086, lift=0.9240009240009238)])